<h1 class="error">{{title}}</h1>
<main>
  <p id="errorInfo">{{error}}</p>
</main>

<p id="gohome" hidden></p>
<script>
  let a = document.getElementById("gohome")
  //console.log(a);
  if(a){
    //only stays on the error page for 5 seconds
    setTimeout("go()", 5000);
  }
  let go=()=>{
    location.href = "http://localhost:3000";
  }
</script>