<h1>Welcome to Schedu-Share!</h1>
<form action="/users/login" method="post">
    <label for="userName">Username:</label><br>
    <input class="login" type="text" id="userName" name="userName" placeholder="Enter username"><br><br>
    <label for="password">Password:</label><br>
    <input class="login" type="password" id="password" name="password" placeholder="Enter password"><br><br>
    <button id="submitButton" type="submit">Login</button>
</form><br>

{{#if hasErrors}}
<ul class="error-list">
    {{#each errors}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>
{{/if}}

<a href='/users/new'>Create an account</a>

<footer id="footer">
    <p>
        &copy; CS-546-B Group 3:&nbsp;
        Nick Primamore,&nbsp;
        Conner Zeigman,&nbsp; 
        Liam King,&nbsp;
        Sen Yang
    </p>
</footer>