<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{{title}}}</title>

    <link rel="stylesheet" href="../../public/css/main.css" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="http://localhost:3000">Home</a></li>
          <li><a href="http://localhost:3000/events">Event</a></li>
          <li><a href="http://localhost:3000/search">Search</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
    <script src="tota11y.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/ajaxEventForm.js"></script>
  </body>
</html>