<h1>Create Your Account with Schedu-Share</h1>
<form action="/users/register" method="post">
  <label for="firstName">First name:</label><br>
  <input class="register" type="text" id="firstName" name="firstName"><br><br>
  <label for="lastName">Last name:</label><br>
  <input class="register" type="text" id="lastName" name="lastName"><br><br>
  <label for="userName">Username:</label><br>
  <input class="register" type="text" id="userName" name="userName"><br><br>
  <label for="password">Password:</label><br>
  <input class="register" type="password" id="password" name="password"><br><br>
  <label for="email">Email:</label><br>
  <input class="register" type="email" id="email" name="email"><br><br><br>
  <button id="submitButton" type="submit">Create account</button>
</form>
{{#if hasErrors}}
<ul class="error-list">
    {{#each errors}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>
{{/if}}
<footer id="footer">
  <p>
      &copy; CS-546-B Group 3:&nbsp;
      Nick Primamore,&nbsp;
      Conner Zeigman,&nbsp; 
      Liam King,&nbsp;
      Sen Yang
  </p>
</footer>
