table{
    background-color: paleturquoise;
}
td{
    width: 150pt;
    height: 50pt;
}

body{
    background-color: snow;
    text-align: center;
}

h1, h2{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

button{
    background-color: white;
    color:blue;
    border: 2px solid blue;
    transition-duration: 0.4s;
    border-radius: 25px;
    height: 100%;
    width: 5%;
    font-size: 13px;
}
  
button:hover{
    background-color: blue;
    color: white;
}

label{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:link{
    color: blue;
}

a:visited{
    color: blue;
}

a:hover{
    color: red;
}

.td_title{
    height: 20pt;
}

.error{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.login, .register{
  color: black;
  width: 12rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  height: 17px;
  border-radius: 5px;
  border-right-color: gray;
  border-bottom-color: gray;
}

#errorInfo{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer{
  color: blue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-style: italic;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.tableData{
    text-align: left;
}

.tableData a{
    text-decoration: none;
}
.tableData a:link{
    color: blue; 
}
.tableData a:visited{
    color:blue;
}
.tableData a:hover{
    color: red;
    text-decoration: underline;
}
header{
    height: 90px;
    background-color: #123456;
}

nav{
    height: 30px;
    background-color: beige;
}

li{
    float: left;
    width: 150px;
    height: 30px;
}