<header>
    <nav>
    <ul id="navBar">
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="http://localhost:3000/events">Public Events</a></li>
        <li><a href="http://localhost:3000/search">Search Events/Add Friends</a></li>
        <li><a href="http://localhost:3000/users/logout">Logout</a></li>
    </ul>
    </nav>
</header>
<h1>Add Friends</h1>
<main>
    <form action="/search/addFriends" method="post" id = "searchForm">
        <label for="searchParameter">Add Friend By:</label><br>
        <select id = 'searchParameter' name = 'searchParameter'>
            <option value="userName">Username</option>
            <option value="email">Email</option>
        </select><br><br>
        <label for="searchInput">Enter Username or Email:</label><br>
        <input type="text" id="searchInput" name="searchInput"><br><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <a href = '/search/'>Search Events</a><br><br>
    <a href = '/search/searchFriends'>Search Friends</a>
</main>

{{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
{{/if}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src = "/search/js/searchFormUpdate.js"></script>